@page "/photoAlbum/{albumId}"
@using BlazorHomeSite.Data
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<ApplicationDbContext> DbFactory

<MudGrid Justify="Justify.Center">
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full">
            photo album
        </MudPaper>
        <h1>@AlbumId </h1>
    </MudItem>
</MudGrid>

@code
{
    [Parameter]
    public string AlbumId { get; set; }
}